.navbar-background {
    display: flex;
    flex-direction: row;
    background-color: #373737;
    justify-content: center !important;
    height: 70px;
}

.navbar-inner {
    display: flex;
    justify-content: center;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    font-size: large;
}

.home-header-welcome {
    font-size: 24px;
    margin-bottom: 20px;
}

.home-header-tictactoe {
    font-family: "Dancing Script";
    font-size: 60px;
    margin-bottom: 20px;
}

.home-description {
    font-size: 15px;
}

.tictactoe-container {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}

.column-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 27%;
    text-align: right;
}
  
.column-right {
    display: flex;
    padding-left: 12.5%;
    justify-content: flex-start;
    width: 75%;
}
  
.game-container {
    margin-top: 50px;
    width: 430px;
}
  
.card-height {
    height: 120px;
}
  
.symbol {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 16px;
}
  
.hr {
    width: 100%;
    margin-left: 14px;
    margin-right: 14px;
    background-color: rgb(200, 200, 200);
    height: 1px;
    border: 0;
}